@font-face {
  font-family: norse-font;
  src: url(media/fonts/Norse-Bold.otf);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;

  display: flex;

  border: 1px solid purple;
}

#lowest_bkgrnd_container {
  
  flex: 1 1 0;
  display: flex;
  justify-content: center;  /*horizontally align its item to center*/

  background-color: black;
}

#content_container {
  width: 1200px;
  height: 831px;
  
  display: flex;
  
  border: 1px solid blue;
}

#logo_container {
  width: max(300px, 40%);

  background-image: url(media/img/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;  /*The background will scroll with the page. This is the default setting (w3)*/
  background-size: cover;   /*Resize the backgroudn image to cover the entire container*/
  background-position: 57% 0%;  /*The first value is is horizontal and the second verticle. top left corner is 0% 0% and the bottom right is 100% 100%*/

  border: 1px solid red;
}

#logo_img {
  width: 50px;
  height: 50px;
}

#form_container {
  width: 811px;  

  background-color: white;
}
